In [4]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [16]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [19]:
#  3. Convert the June temperatures to a list.
june_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

print()

In [20]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(june_temps, columns=["June Temps"])

print(df.head())

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [21]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [23]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_temps = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [27]:
# 7. Convert the December temperatures to a list.
dec_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

print (dec_temps)

[(76.0,), (74.0,), (74.0,), (64.0,), (64.0,), (67.0,), (77.0,), (66.0,), (69.0,), (68.0,), (68.0,), (71.0,), (74.0,), (67.0,), (66.0,), (69.0,), (71.0,), (70.0,), (70.0,), (74.0,), (74.0,), (71.0,), (75.0,), (75.0,), (72.0,), (69.0,), (68.0,), (73.0,), (74.0,), (73.0,), (73.0,), (73.0,), (73.0,), (71.0,), (73.0,), (73.0,), (77.0,), (72.0,), (71.0,), (73.0,), (70.0,), (73.0,), (69.0,), (74.0,), (72.0,), (71.0,), (72.0,), (72.0,), (70.0,), (73.0,), (73.0,), (72.0,), (73.0,), (73.0,), (72.0,), (63.0,), (65.0,), (71.0,), (76.0,), (70.0,), (76.0,), (69.0,), (69.0,), (69.0,), (74.0,), (76.0,), (74.0,), (73.0,), (73.0,), (74.0,), (73.0,), (73.0,), (73.0,), (74.0,), (74.0,), (71.0,), (73.0,), (72.0,), (64.0,), (66.0,), (73.0,), (72.0,), (65.0,), (64.0,), (69.0,), (68.0,), (77.0,), (71.0,), (71.0,), (69.0,), (68.0,), (68.0,), (69.0,), (70.0,), (72.0,), (76.0,), (75.0,), (69.0,), (71.0,), (71.0,), (71.0,), (68.0,), (65.0,), (70.0,), (69.0,), (69.0,), (71.0,), (67.0,), (73.0,), (74.0,), (73.0,), (67.0,), (74.0,), (75.0,), (75.0,), (74.0,), (67.0,), (73.0,), (73.0,), (71.0,), (72.0,), (71.0,), (68.0,), (65.0,), (69.0,), (70.0,), (70.0,), (74.0,), (71.0,), (74.0,), (73.0,), (72.0,), (74.0,), (72.0,), (74.0,), (75.0,), (74.0,), (70.0,), (74.0,), (70.0,), (66.0,), (61.0,), (63.0,), (63.0,), (63.0,), (63.0,), (67.0,), (56.0,), (75.0,), (77.0,), (75.0,), (75.0,), (75.0,), (75.0,), (71.0,), (70.0,), (74.0,), (74.0,), (75.0,), (72.0,), (70.0,), (66.0,), (74.0,), (75.0,), (74.0,), (75.0,), (76.0,), (74.0,), (75.0,), (74.0,), (73.0,), (68.0,), (73.0,), (74.0,), (74.0,), (77.0,), (70.0,), (70.0,), (69.0,), (75.0,), (72.0,), (69.0,), (71.0,), (68.0,), (67.0,), (69.0,), (73.0,), (70.0,), (70.0,), (70.0,), (66.0,), (67.0,), (70.0,), (66.0,), (62.0,), (71.0,), (73.0,), (69.0,), (77.0,), (74.0,), (71.0,), (72.0,), (74.0,), (74.0,), (74.0,), (74.0,), (71.0,), (73.0,), (69.0,), (66.0,), (73.0,), (72.0,), (73.0,), (74.0,), (73.0,), (66.0,), (64.0,), (66.0,), (75.0,), (65.0,), (69.0,), (71.0,), (69.0,), (78.0,), (74.0,), (68.0,), (68.0,), (70.0,), (70.0,), (71.0,), (71.0,), (71.0,), (71.0,), (69.0,), (69.0,), (72.0,), (76.0,), (72.0,), (73.0,), (73.0,), (74.0,), (69.0,), (68.0,), (74.0,), (73.0,), (73.0,), (72.0,), (71.0,), (71.0,), (68.0,), (72.0,), (71.0,), (72.0,), (71.0,), (71.0,), (72.0,), (71.0,), (71.0,), (72.0,), (72.0,), (72.0,), (69.0,), (71.0,), (71.0,), (69.0,), (74.0,), (72.0,), (71.0,), (71.0,), (72.0,), (71.0,), (67.0,), (65.0,), (70.0,), (76.0,), (68.0,), (71.0,), (71.0,), (68.0,), (70.0,), (73.0,), (73.0,), (72.0,), (71.0,), (70.0,), (72.0,), (71.0,), (72.0,), (72.0,), (71.0,), (70.0,), (71.0,), (71.0,), (71.0,), (66.0,), (65.0,), (73.0,), (72.0,), (72.0,), (65.0,), (65.0,), (68.0,), (67.0,), (76.0,), (70.0,), (71.0,), (69.0,), (67.0,), (69.0,), (71.0,), (69.0,), (72.0,), (76.0,), (75.0,), (72.0,), (75.0,), (71.0,), (69.0,), (68.0,), (68.0,), (72.0,), (70.0,), (72.0,), (75.0,), (69.0,), (72.0,), (73.0,), (73.0,), (72.0,), (73.0,), (74.0,), (73.0,), (72.0,), (68.0,), (72.0,), (71.0,), (69.0,), (67.0,), (70.0,), (72.0,), (67.0,), (67.0,), (69.0,), (67.0,), (74.0,), (70.0,), (73.0,), (71.0,), (71.0,), (71.0,), (71.0,), (72.0,), (76.0,), (78.0,), (76.0,), (73.0,), (70.0,), (68.0,), (77.0,), (66.0,), (65.0,), (69.0,), (69.0,), (66.0,), (64.0,), (74.0,), (75.0,), (80.0,), (72.0,), (73.0,), (70.0,), (69.0,), (77.0,), (74.0,), (77.0,), (72.0,), (69.0,), (69.0,), (75.0,), (75.0,), (72.0,), (73.0,), (78.0,), (75.0,), (75.0,), (74.0,), (73.0,), (70.0,), (70.0,), (72.0,), (74.0,), (74.0,), (67.0,), (74.0,), (70.0,), (73.0,), (71.0,), (71.0,), (69.0,), (68.0,), (70.0,), (71.0,), (72.0,), (70.0,), (71.0,), (72.0,), (68.0,), (68.0,), (70.0,), (70.0,), (63.0,), (71.0,), (67.0,), (69.0,), (74.0,), (72.0,), (70.0,), (69.0,), (73.0,), (74.0,), (74.0,), (73.0,), (71.0,), (72.0,), (69.0,), (71.0,), (73.0,), (73.0,), (71.0,), (72.0,), (71.0,), (64.0,), (71.0,), (62.0,), (70.0,), (64.0,), (64.0,), (70.0,), (70.0,), (69.0,), (72.0,), (68.0,), (68.0,), (65.0,), (67.0,), (68.0,), (70.0,), (67.0,), (73.0,), (70.0,), (68.0,), (72.0,), (69.0,), (71.0,), (70.0,), (75.0,), (70.0,), (68.0,), (73.0,), (71.0,), (71.0,), (70.0,), (70.0,), (70.0,), (70.0,), (72.0,), (74.0,), (71.0,), (70.0,), (70.0,), (69.0,), (71.0,), (70.0,), (70.0,), (72.0,), (72.0,), (72.0,), (72.0,), (72.0,), (70.0,), (66.0,), (71.0,), (68.0,), (79.0,), (76.0,), (73.0,), (75.0,), (71.0,), (76.0,), (74.0,), (73.0,), (73.0,), (74.0,), (73.0,), (72.0,), (76.0,), (75.0,), (77.0,), (74.0,), (76.0,), (75.0,), (76.0,), (73.0,), (75.0,), (73.0,), (73.0,), (74.0,), (78.0,), (78.0,), (78.0,), (75.0,), (75.0,), (75.0,), (74.0,), (77.0,), (72.0,), (72.0,), (73.0,), (71.0,), (75.0,), (76.0,), (74.0,), (75.0,), (74.0,), (75.0,), (73.0,), (72.0,), (72.0,), (75.0,), (74.0,), (74.0,), (72.0,), (73.0,), (70.0,), (76.0,), (78.0,), (76.0,), (78.0,), (74.0,), (71.0,), (78.0,), (70.0,), (74.0,), (74.0,), (75.0,), (76.0,), (78.0,), (72.0,), (73.0,), (76.0,), (72.0,), (72.0,), (78.0,), (76.0,), (76.0,), (77.0,), (79.0,), (73.0,), (79.0,), (77.0,), (78.0,), (76.0,), (78.0,), (77.0,), (79.0,), (75.0,), (77.0,), (76.0,), (78.0,), (78.0,), (77.0,), (78.0,), (78.0,), (76.0,), (75.0,), (72.0,), (75.0,), (77.0,), (75.0,), (77.0,), (76.0,), (76.0,), (75.0,), (72.0,), (76.0,), (75.0,), (72.0,), (72.0,), (75.0,), (69.0,), (75.0,), (74.0,), (78.0,), (77.0,), (76.0,), (72.0,), (73.0,), (74.0,), (74.0,), (74.0,), (73.0,), (73.0,), (71.0,), (72.0,), (72.0,), (75.0,), (66.0,), (66.0,), (67.0,), (76.0,), (68.0,), (69.0,), (71.0,), (70.0,), (68.0,), (66.0,), (69.0,), (69.0,), (71.0,), (72.0,), (69.0,), (72.0,), (70.0,), (76.0,), (69.0,), (71.0,), (72.0,), (71.0,), (78.0,), (73.0,), (74.0,), (68.0,), (71.0,), (76.0,), (75.0,), (74.0,), (73.0,), (73.0,), (74.0,), (69.0,), (74.0,), (72.0,), (70.0,), (67.0,), (69.0,), (73.0,), (75.0,), (74.0,), (72.0,), (71.0,), (67.0,), (74.0,), (70.0,), (70.0,), (70.0,), (71.0,), (70.0,), (71.0,), (71.0,), (68.0,), (74.0,), (75.0,), (74.0,), (77.0,), (76.0,), (77.0,), (75.0,), (76.0,), (75.0,), (77.0,), (75.0,), (77.0,), (74.0,), (78.0,), (77.0,), (76.0,), (69.0,), (70.0,), (64.0,), (75.0,), (69.0,), (65.0,), (76.0,), (81.0,), (71.0,), (71.0,), (71.0,), (82.0,), (74.0,), (75.0,), (77.0,), (74.0,), (68.0,), (72.0,), (70.0,), (68.0,), (74.0,), (71.0,), (70.0,), (70.0,), (70.0,), (68.0,), (68.0,), (68.0,), (66.0,), (71.0,), (76.0,), (73.0,), (70.0,), (68.0,), (71.0,), (71.0,), (68.0,), (71.0,), (70.0,), (73.0,), (78.0,), (76.0,), (73.0,), (74.0,), (63.0,), (72.0,), (75.0,), (74.0,), (72.0,), (68.0,), (74.0,), (73.0,), (73.0,), (72.0,), (73.0,), (72.0,), (78.0,), (74.0,), (74.0,), (78.0,), (78.0,), (61.0,), (69.0,), (65.0,), (77.0,), (67.0,), (69.0,), (75.0,), (67.0,), (71.0,), (74.0,), (66.0,), (66.0,), (77.0,), (70.0,), (73.0,), (71.0,), (71.0,), (71.0,), (67.0,), (71.0,), (74.0,), (76.0,), (72.0,), (74.0,), (75.0,), (69.0,), (69.0,), (69.0,), (75.0,), (73.0,), (73.0,), (72.0,), (72.0,), (72.0,), (74.0,), (72.0,), (73.0,), (73.0,), (73.0,), (73.0,), (74.0,), (73.0,), (71.0,), (72.0,), (73.0,), (74.0,), (72.0,), (73.0,), (73.0,), (71.0,), (73.0,), (75.0,), (71.0,), (72.0,), (73.0,), (71.0,), (65.0,), (77.0,), (72.0,), (78.0,), (71.0,), (72.0,), (71.0,), (72.0,), (76.0,), (75.0,), (75.0,), (76.0,), (73.0,), (72.0,), (74.0,), (74.0,), (74.0,), (73.0,), (77.0,), (73.0,), (70.0,), (72.0,), (76.0,), (65.0,), (74.0,), (73.0,), (77.0,), (76.0,), (69.0,), (78.0,), (76.0,), (68.0,), (76.0,), (68.0,), (79.0,), (69.0,), (64.0,), (70.0,), (69.0,), (73.0,), (70.0,), (74.0,), (76.0,), (76.0,), (69.0,), (73.0,), (73.0,), (65.0,), (70.0,), (72.0,), (72.0,), (75.0,), (74.0,), (69.0,), (73.0,), (75.0,), (76.0,), (74.0,), (73.0,), (74.0,), (71.0,), (72.0,), (73.0,), (72.0,), (72.0,), (73.0,), (72.0,), (75.0,), (76.0,), (67.0,), (69.0,), (70.0,), (75.0,), (74.0,), (71.0,), (74.0,), (71.0,), (72.0,), (74.0,), (75.0,), (73.0,), (75.0,), (76.0,), (68.0,), (71.0,), (68.0,), (66.0,), (63.0,), (62.0,), (67.0,), (68.0,), (63.0,), (56.0,), (76.0,), (75.0,), (74.0,), (76.0,), (69.0,), (71.0,), (72.0,), (74.0,), (75.0,), (72.0,), (78.0,), (69.0,), (75.0,), (75.0,), (74.0,), (74.0,), (76.0,), (73.0,), (75.0,), (75.0,), (74.0,), (79.0,), (75.0,), (76.0,), (76.0,), (69.0,), (72.0,), (76.0,), (75.0,), (75.0,), (75.0,), (70.0,), (70.0,), (74.0,), (73.0,), (72.0,), (78.0,), (67.0,), (69.0,), (71.0,), (74.0,), (63.0,), (76.0,), (76.0,), (71.0,), (76.0,), (77.0,), (73.0,), (71.0,), (78.0,), (78.0,), (75.0,), (75.0,), (72.0,), (77.0,), (72.0,), (72.0,), (71.0,), (72.0,), (74.0,), (66.0,), (61.0,), (58.0,), (60.0,), (71.0,), (65.0,), (72.0,), (70.0,), (68.0,), (67.0,), (71.0,), (65.0,), (64.0,), (65.0,), (69.0,), (70.0,), (70.0,), (68.0,), (69.0,), (71.0,), (70.0,), (71.0,), (76.0,), (71.0,), (72.0,), (73.0,), (77.0,), (67.0,), (69.0,), (72.0,), (74.0,), (71.0,), (70.0,), (68.0,), (70.0,), (66.0,), (72.0,), (70.0,), (70.0,), (70.0,), (70.0,), (73.0,), (71.0,), (69.0,), (73.0,), (72.0,), (71.0,), (69.0,), (70.0,), (69.0,), (70.0,), (75.0,), (71.0,), (70.0,), (69.0,), (71.0,), (65.0,), (67.0,), (72.0,), (67.0,), (76.0,), (67.0,), (72.0,), (69.0,), (66.0,), (75.0,), (74.0,), (72.0,), (72.0,), (72.0,), (68.0,), (74.0,), (73.0,), (73.0,), (72.0,), (70.0,), (70.0,), (71.0,), (70.0,), (72.0,), (65.0,), (62.0,), (73.0,), (71.0,), (70.0,), (62.0,), (69.0,), (69.0,), (66.0,), (72.0,), (73.0,), (70.0,), (66.0,), (64.0,), (65.0,), (73.0,), (74.0,), (67.0,), (73.0,), (70.0,), (67.0,), (71.0,), (78.0,), (69.0,), (63.0,), (64.0,), (66.0,), (69.0,), (69.0,), (71.0,), (72.0,), (69.0,), (70.0,), (73.0,), (68.0,), (69.0,), (73.0,), (73.0,), (70.0,), (65.0,), (70.0,), (68.0,), (68.0,), (66.0,), (68.0,), (65.0,), (62.0,), (62.0,), (65.0,), (61.0,), (70.0,), (68.0,), (67.0,), (68.0,), (71.0,), (69.0,), (71.0,), (71.0,), (71.0,), (72.0,), (72.0,), (68.0,), (69.0,), (66.0,), (60.0,), (63.0,), (68.0,), (64.0,), (63.0,), (63.0,), (59.0,), (73.0,), (74.0,), (75.0,), (75.0,), (70.0,), (72.0,), (69.0,), (68.0,), (74.0,), (72.0,), (75.0,), (79.0,), (69.0,), (67.0,), (73.0,), (74.0,), (75.0,), (72.0,), (76.0,), (74.0,), (75.0,), (74.0,), (74.0,), (76.0,), (74.0,), (75.0,), (75.0,), (73.0,), (76.0,), (74.0,), (73.0,), (74.0,), (70.0,), (72.0,), (70.0,), (67.0,), (67.0,), (69.0,), (70.0,), (68.0,), (69.0,), (69.0,), (66.0,), (65.0,), (68.0,), (62.0,), (75.0,), (70.0,), (69.0,), (76.0,), (76.0,), (74.0,), (73.0,), (71.0,), (74.0,), (74.0,), (72.0,), (71.0,), (72.0,), (74.0,), (69.0,), (67.0,), (70.0,), (74.0,), (74.0,), (75.0,), (69.0,), (65.0,), (66.0,), (68.0,), (77.0,), (65.0,), (72.0,), (65.0,), (66.0,), (74.0,), (66.0,), (63.0,), (63.0,), (69.0,), (69.0,), (73.0,), (72.0,), (68.0,), (67.0,), (69.0,), (74.0,), (72.0,), (76.0,), (70.0,), (73.0,), (70.0,), (76.0,), (66.0,), (69.0,), (69.0,), (70.0,), (71.0,), (73.0,), (65.0,), (71.0,), (65.0,), (75.0,), (72.0,), (74.0,), (67.0,), (65.0,), (68.0,), (66.0,), (73.0,), (74.0,), (76.0,), (72.0,), (69.0,), (71.0,), (70.0,), (70.0,), (73.0,), (71.0,), (76.0,), (72.0,), (77.0,), (70.0,), (65.0,), (72.0,), (75.0,), (68.0,), (72.0,), (64.0,), (75.0,), (69.0,), (80.0,), (73.0,), (73.0,), (73.0,), (72.0,), (73.0,), (75.0,), (76.0,), (74.0,), (72.0,), (72.0,), (70.0,), (70.0,), (71.0,), (61.0,), (65.0,), (74.0,), (71.0,), (63.0,), (64.0,), (66.0,), (68.0,), (66.0,), (70.0,), (68.0,), (68.0,), (66.0,), (75.0,), (67.0,), (70.0,), (72.0,), (69.0,), (72.0,), (69.0,), (65.0,), (71.0,), (73.0,), (69.0,), (69.0,), (63.0,), (63.0,), (71.0,), (79.0,), (67.0,), (67.0,), (64.0,), (63.0,), (68.0,), (77.0,), (79.0,), (74.0,), (68.0,), (64.0,), (70.0,), (62.0,), (68.0,), (67.0,), (70.0,), (66.0,), (64.0,), (62.0,), (64.0,), (63.0,), (69.0,), (64.0,), (70.0,), (72.0,), (72.0,), (64.0,), (71.0,), (68.0,), (81.0,), (78.0,), (69.0,), (72.0,), (70.0,), (62.0,), (76.0,), (72.0,), (76.0,), (57.0,), (64.0,), (57.0,), (71.0,), (70.0,), (67.0,), (77.0,), (69.0,), (61.0,), (62.0,), (63.0,), (73.0,), (64.0,), (67.0,), (69.0,), (80.0,), (71.0,), (73.0,), (65.0,), (68.0,), (68.0,), (69.0,), (72.0,), (69.0,), (69.0,), (67.0,), (69.0,), (73.0,), (71.0,), (71.0,), (70.0,), (71.0,), (70.0,), (75.0,), (71.0,), (73.0,), (71.0,), (71.0,), (68.0,), (67.0,), (70.0,), (67.0,), (69.0,), (71.0,), (69.0,), (69.0,), (68.0,), (69.0,), (69.0,), (67.0,), (69.0,), (68.0,), (70.0,), (68.0,), (69.0,), (71.0,), (65.0,), (69.0,), (69.0,), (69.0,), (69.0,), (70.0,), (73.0,), (67.0,), (74.0,), (77.0,), (74.0,), (73.0,), (71.0,), (73.0,), (68.0,), (69.0,), (71.0,), (72.0,), (72.0,), (67.0,), (67.0,), (69.0,), (66.0,), (66.0,), (69.0,), (66.0,), (68.0,), (65.0,), (68.0,), (67.0,), (71.0,), (65.0,), (71.0,), (69.0,), (69.0,), (62.0,), (62.0,), (67.0,), (65.0,), (68.0,), (67.0,), (75.0,), (68.0,), (68.0,), (70.0,), (83.0,), (68.0,), (70.0,), (70.0,), (68.0,), (76.0,), (72.0,), (68.0,), (64.0,), (72.0,), (72.0,), (68.0,), (70.0,), (69.0,), (68.0,), (70.0,), (67.0,), (70.0,), (70.0,), (71.0,), (70.0,), (69.0,), (71.0,), (68.0,), (70.0,), (67.0,), (70.0,), (73.0,), (70.0,), (66.0,), (70.0,), (72.0,), (71.0,), (68.0,), (71.0,), (67.0,), (65.0,), (66.0,), (70.0,), (69.0,), (70.0,), (72.0,), (67.0,), (68.0,), (64.0,), (66.0,), (65.0,), (62.0,), (68.0,), (67.0,), (73.0,), (70.0,), (71.0,), (71.0,), (70.0,), (71.0,), (69.0,), (70.0,), (73.0,), (70.0,), (72.0,), (71.0,), (69.0,), (74.0,), (73.0,), (69.0,), (71.0,), (68.0,), (72.0,), (71.0,), (70.0,), (72.0,), (71.0,), (69.0,), (71.0,), (67.0,), (71.0,), (69.0,), (71.0,), (71.0,), (67.0,), (76.0,), (67.0,), (67.0,), (68.0,), (71.0,), (68.0,), (68.0,), (69.0,), (65.0,), (70.0,), (69.0,), (64.0,), (60.0,), (67.0,), (72.0,), (73.0,), (70.0,), (68.0,), (69.0,), (69.0,), (69.0,), (71.0,), (71.0,), (71.0,), (69.0,), (65.0,), (65.0,)]

In [29]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temps, columns=["December Temps"])

print (dec_df.head())

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [30]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [36]:
june_temps_prcp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

dec_temps_prcp = session.query(Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [40]:
june_temps_prcp_df = pd.DataFrame(june_temps_prcp, columns=["Date", "Precipitation", "Temperature"])
june_temps_prcp_df.set_index(june_temps_prcp_df["Date"], inplace=True)
june_temps_prcp_df.describe()

       Precipitation  Temperature
count    1574.000000  1700.000000
mean        0.136360    74.944118
std         0.335731     3.257417
min         0.000000    64.000000
25%         0.000000    73.000000
50%         0.020000    75.000000
75%         0.120000    77.000000
max         4.430000    85.000000

In [41]:
dec_temps_prcp_df = pd.DataFrame(dec_temps_prcp, columns=["Date", "Precipitation", "Temperature"])
dec_temps_prcp_df.set_index(dec_temps_prcp_df["Date"], inplace=True)
dec_temps_prcp_df.describe()

       Precipitation  Temperature
count    1405.000000  1517.000000
mean        0.216819    71.041529
std         0.541399     3.745920
min         0.000000    56.000000
25%         0.000000    69.000000
50%         0.030000    71.000000
75%         0.150000    74.000000
max         6.420000    83.000000